@font-face {
    font-family: 'Proxima Nova';
    src: url('fonts/proxima_nova_light/proximanova-light-webfont.eot');
    src: url('fonts/proxima_nova_light/proximanova-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/proxima_nova_light/proximanova-light-webfont.woff') format('woff'),
         url('fonts/proxima_nova_light/proximanova-light-webfont.ttf') format('truetype'),
         url('fonts/proxima_nova_light/proximanova-light-webfont.svg#proxima_novalight') format('svg');
    font-weight: 300;
    font-style: normal;

}

.red {
	color : red;
	background: url('images/icon.jpg');
	font-family: 'Proxima Nova';
}

.same-icon-name {
    color : red;
    background: url('images/test_conflict/icon.jpg');
    font-family: 'Proxima Nova';
}

.check {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAeCAMAAADaS4T1AAAAXVBMVEVwcHBubm5tbW1sbGxra2tpaWloaGhnZ2dmZmZlZWVjY2NiYmJhYWFgYGBfX19dXV1cXFxbW1taWlpZWVlXV1dWVlZVVVVUVFRTU1NRUVFQUFBPT09OTk5NTU1LS0tT9SY0AAAAMUlEQVQImQXBhQGAMAAAIGxnx2z9/00BiVQmVyhVakGj1ekNRpPZYhVtdofT5fZ4fT8hpwG05JjexgAAAABJRU5ErkJggg==)
}