@font-face {
    font-family: 'Proxima Nova';
    src: url('./proxima_nova_light/proximanova-light-webfont.eot');
    src: url('./proxima_nova_light/proximanova-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('./proxima_nova_light/proximanova-light-webfont.woff') format('woff'),
         url('./proxima_nova_light/proximanova-light-webfont.ttf') format('truetype'),
         url('./proxima_nova_light/proximanova-light-webfont.svg#proxima_novalight') format('svg');
    font-weight: 300;
    font-style: normal;

}

.red {
	color : red;
	background: url('./icon.jpg');
	font-family: 'Proxima Nova';
}